@font-face {
    font-family: 'ZeldaFont';
    src: url('../fonts/wild-breath-of-zelda.otf') format('truetype');
  }
  
  .centered-button {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
  }
  